input {
  border-bottom: 2px solid #808080;
  width: 272px;
  height: 40px;
  color: #2e2f42;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-right: 8px;
  padding-left: 16px;
}
input:hover,
input:focus {
  border-color: #2e2f42;
}

input:active {
  border-color: #4e75ff;
  color: #000000;
}
.disable {
  color: #808080;
  background-color: #fafafa;
}

button[data-start] {
  background-color: #4e75ff;
  font-family: 'Montserrat', Medium;
  font-size: 16px;
  line-height: 1.5;
  width: 75px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
button[data-start]:hover,
button[data-start]:focus {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  font-family: 'Montserrat', Medium;
  max-width: 346px;
  max-height: 72px;
  display: flex;
  gap: 24px;
}

.timer .field {
  text-align: center;
}

.timer .value {
  font-size: 40px;
}

.timer .label {
  font-size: 16px;
}

div.flatpickr-calendar {
  background-color: #f5f5f5;
  font-family: Montserrat;
}

div.flatpickr-time {
  font-size: 16px;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute {
  font-family: 'Montserrat', semibold;
  font-size: 16px;
  font-weight: bold;
}

.flatpickr-current-month {
  font-family: 'Montserrat', semibold;
  font-size: 16px;
}
.flatpickr-weekdays .flatpickr-weekdaycontainer,
input.numInput.cur-year,
.flatpickr-current-month.flatpickr-monthDropdown-months {
  font-family: 'Montserrat', SemiBold;
  font-size: 16px;
  color: #2e2f42;
}

/* input.numInput.cur-year {
    font-weight: bold;
} */
