.form {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding-top: 36px;
  padding-left: 156px;
}
fieldset {
  max-width: 360px;
  max-height: 70px;
}

.form input[number] {
  max-width: 360px;
  max-height: 70px;
  border-radius: 4px;
}

element.style {
}

.form input[type='radio'] {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-bottom: 24px;
}

button {
  font-family: 'Montserrat', Medium;
  font-size: 16px;
  background-color: #4e75ff;
  width: 360px;
  height: 40px;
  line-height: 1.5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  transition: color 250ms linear, border-color 250ms linear;
}
